footer {
      background-color: #DCBCA4; /* Fond noir */
      color: #003366; /* Écriture bleu foncé */
      text-align: center; /* Centre le texte dans le footer */
      padding: 10px 0; /* Ajoute un peu de rembourrage */
      height:157px;
      gap:10%;
   width: 100%;
  
    
}
.social-icons a {
    margin: 0 10px; /* Espacement entre les icônes */
    color: #003366; /* Couleur des icônes */
    text-decoration: none; /* Pas de soulignement */
    font-size: 24px; /* Taille des icônes */
}
.social-icons a:hover {
    color: #ffffff; /* Change la couleur au survol */
}
.mentions-legales {
    margin-top: 10px;
    text-align: center;
}